<p id="notice"><%= notice %></p>

<p>
  <strong>氏名:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>読み方:</strong>
  <%= @staff.kana %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
