<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Division cd:</strong>
  <%= @message.division_cd %>
</p>

<p>
  <strong>Attached file:</strong>
  <%= @message.attached_file %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
